<%= form_tag"/products/#{@product.id}", method: :patch do %>


<div>
  Name:
  <input type = "text" name = "name" value = "<%= @product.name %>" >
</div>
<div>
  price:
  <input type = "text" name = "price" value = "<%= @product.price %>" >
</div>

<div>
  Description:
  <input type = "text" name = "description" value = "<%= @product.description %>" ></div>
<div>
  Image link:
  <input type = "text" name = "image" value = "<%= @product.image %>" >
</div>

<input type = "submit" name = "submit" value = "update">

<% end %>