<h2> <b>Product Name:</b> <%= @product.name %> </a></h2>
  
<% @product.images.each do |image| %>

  <img src= "<%= image.url%>">

<% end %>

  <ul>
    <li><b>Price: </b> <%= @product.price %> RWF </li>
    <li> <b>Description:</b><%= @product.description %> </li>
  </ul> 
<div>
<a href = "/products/<%= @product.id %>/edit"> <input type = "submit" value = "Edit"> </a>
</div>

<div>
<%= button_to "delete", @products, :method => :delete %>
</div>

<h1>The product with lowest price costs:lowest</h1>

